<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trishlapokharna.scoutingtakethree">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Steamfish"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Input" />
        <activity android:name=".Confirmation" />
        <activity
            android:name=".RankingContainer"
            android:label="@string/title_activity_ranking_container"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TeleopHighContainer"
            android:label="@string/title_activity_teleop_high_container"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TeleopLowContainer"
            android:label="@string/title_activity_teleop_low_container"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EndContainer"
            android:label="@string/title_activity_end_container"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
